apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-deployment
  namespace: n8n
  labels:
    app: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      securityContext:
        fsGroup: 1000
      volumes:
        - name: n8n-pv-storage
          persistentVolumeClaim:
            claimName: n8n-pvc
      containers:
      - name: n8n
        image: n8nio/n8n:2.7.4
        ports:
        - containerPort: 5678
        volumeMounts:
          - mountPath: "/home/node/.n8n"
            name: n8n-pv-storage